<footer class="footer">
  <div class="container py-2 text-center">
    <div class="text-muted mt-1">IIIT Ranchi Event Management System Software</div>
    <div class="text-muted mb-1">Group-13 © 2022</div>
  </div>
</footer>